<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foods</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
</head>

<body>
    <!-- Khi click chi tiết food thì hiện ra -->
    <div id="overlay" class="overlay" style="display: none;"></div>
    <!-- Phần header -->
    <div id="header"></div>

    <!-- Phần nav -->
    <nav id="navFood">
        <div class="header-title">
            <!-- Nút bấm mở/đóng header -->
            <button id="btnNavFood"><i class="fa-solid fa-bars"></i></button>
            <a href="#">
                <img src="/assets/avatar/avatar.png" alt="avatar" class="avatar">
                <span>Đoàn Mạnh Duy</span>
            </a>
        </div>
        <div class="header-title">
            <div>
                <p>Food databases</p>
                <p>Create, check and update foods that you can use on meal plans</p>
            </div>
        </div>
    </nav>

    <!-- Phần content -->
    <main id="mainFood">
        <!-- Phần Search -->
        <section class="section-search" id="section-recipes">
            <div class="section-title">
                <div>
                    <p>Food databases</p>
                    <p>Create, check and update foods that you can use on meal plans</p>
                </div>
            </div>

            <div class="section-search-form">
                <div class="section-search-item">
                    <input type="text" placeholder="Search Food" id="searchItem">
                </div>

                <div class="section-search-item">
                    <button id="btnINutrient">
                        <i class="fa-solid fa-arrow-up-wide-short" id="iSelectNutrient01"></i>
                        <i class="fa-solid fa-arrow-down-wide-short" id="iSelectNutrient02" style="display: none;"></i>
                    </button>
                    <select id="selectNutrient">
                        <option value="SortByNutrium">Sort by nutrient</option>
                        <option value="energy">Energy</option>
                        <option value="fat">Fat</option>
                        <option value="carbohydrate">Carbohydrate</option>
                        <option value="protein">Protein</option>
                    </select>
                </div>
                <div class="section-search-item">
                    <select id="selectCategory">
                        <option value="All categories">All categories</option>
                        <option value="Breakfast and snacks">Breakfast and snacks</option>
                        <option value="Appetizers and side dishes">Appetizers and side dishes</option>
                        <option value="Meat dishes">Meat dishes</option>
                        <option value="Fish dishes">Fish dishes</option>
                        <option value="Vegetarian dishes">Vegetarian dishes</option>
                    </select>
                </div>
            </div>
        </section>

        <!-- Hiển thị thông tin food có sẵn -->
        <div class="contentFoods" id="contentFoods">
            <!-- Thêm ở đây -->
        </div>

        <!-- Thêm Create Food -->
        <button class="create-food" id="createFood"><img src="/assets/icons/addFood.png" alt=""></i><span
                style="font-weight:500;">Create
                Food</span></button>
        <div class="btn-select-page">
            <button id="btnPrevFood"><i class="fa-solid fa-backward" id="iPrevFood"></i> </button>
            <div class="btnPagesFood" id="btnPagesFood">
                <!-- <button>1</button>
                <button>2</button>
                <button>3</button> -->
                <!-- Thêm ở đây -->
            </div>
            <button id="btnNextFood"><i class="fa-solid fa-forward" id="iNextFood"></i></button>
        </div>
    </main>
    <!--Phần hiển thị thông tin giá trị dinh dưỡng món ăn  -->
    <div class="food-information" id="foodInformation">
        <!-- Thêm ở đây -->
    </div>

    <!-- Phần thêm thức ăn -->;
    <div class="food-information" id="foodAdd">
        <div class="container-foods-header">
            <h3 class="tagH3" style="font-size: 30px;">Food information</h3>
            <p style="color: #676a6c;">Check and update the information about the food</p>
        </div>

        <ul class="container-foods-info">
            <li class="container-foods-child01">
                <p class="addFoodInfo">Name</p>
                <p><input type="text" id="inputName"></p>
            </li>
            <li class="container-foods-child01">
                <p class="addFoodInfo">Source</p>
                <p><input type="text" id="inputSource" style="background-color: #eeeeee;"></p>
            </li>
            <li class="container-foods-child01">
                <p class="addFoodInfo">Category</p>
                <p><select name="" id="inputCategory">
                        <option value="Breakfast and snacks">Breakfast and snacks</option>
                        <option value="Appetizers and side dishes">Appetizers and side dishes</option>
                        <option value="Meat dishes">Meat dishes</option>
                        <option value="Fish dishes">Fish dishes</option>
                        <option value="Vegetarian dishes">Vegetarian dishes</option>
                    </select></p>
            </li>
            <li class="container-foods-child02">
                <p class="addFoodInfo">Quantity</p>
                <p style="background-color: white;"><input type="number" id="inputQuantity"></p>
                <p style="background-color: white;">gram</p>
            </li>
        </ul>

        <div class="nutritional-value">Nutritional value per 100 g</div>

        <div class="container-foods-macronutrients">
            <h3 class="tagH3">Macronutrients</h3>
            <ul class="macronutrients">
                <li>
                    <p class="addFoodInfo">Energy</p>
                    <p><input type="number" id="inputEnergy"></p>
                    <p>kcal</p>
                </li>
                <li>
                    <p class="addFoodInfo">Fat</p>
                    <p><input type="number" id="inputFat"></p>
                    <p>g</p>
                </li>
                <li>
                    <p class="addFoodInfo">Carbohydrate</p>
                    <p><input type="number" id="inputCarbohydrate"></p>
                    <p>g</p>
                </li>
                <li>
                    <p class="addFoodInfo">Protein</p>
                    <p><input type="number" id="inputProtein"></p>
                    <p>g</p>
                </li>

            </ul>
        </div>

        <!--Phần hiển thị thông tin giá trị dinh dưỡng thức ăn  -->
        <div>
            <h3 class="tagH3">Micronutrients</h3>
            <ul class="micronutrients">

                <li>
                    <p class="addFoodInfo">Cholesterol</p>
                    <p><input type="number" id="inputCholesterol"></p>
                    <p class="addFoodInfo">mg</p>
                </li>
                <li>
                    <p class="addFoodInfo">Water</p>
                    <p><input type="number" id="inputWater"></p>
                    <p class="addFoodInfo">%</p>
                </li>
                <li>
                    <p class="addFoodInfo">Vitamin B-12</p>
                    <p><input type="number" id="inputVitaminB12"></p>
                    <p class="addFoodInfo">µg</p>
                </li>
                <li>
                    <p class="addFoodInfo">Vitamin E</p>
                    <p><input type="number" id="inputVitaminE"></p>
                    <p class="addFoodInfo">mg</p>
                </li>
                <li>
                    <p class="addFoodInfo">Lactose</p>
                    <p><input type="number" id="inputLactose"></p>
                    <p class="addFoodInfo">g</p>
                </li>
                <li>
                    <p class="addFoodInfo">Sugars</p>
                    <p><input type="number" id="inputSugars"></p>
                    <p class="addFoodInfo">g</p>
                </li>
                <li>
                    <p class="addFoodInfo">Magnesium</p>
                    <p><input type="number" id="inputMagnesium"></p>
                    <p class="addFoodInfo">mg</p>
                </li>
                <li>
                    <p class="addFoodInfo">Zinc</p>
                    <p><input type="number" id="inputZinc"></p>
                    <p class="addFoodInfo">mg</p>
                </li>
                <li>
                    <p class="addFoodInfo">Riboflavin</p>
                    <p><input type="number" id="inputRiboflavin"></p>
                    <p class="addFoodInfo">mg</p>
                </li>
                <li>
                    <p class="addFoodInfo">Fatty acids, total saturated</p>
                    <p><input type="number" id="inputFattyAcidsTotalSaturated"></p>
                    <p class="addFoodInfo">g</p>
                </li>
                <li>
                    <p class="addFoodInfo">Chloride</p>
                    <p><input type="number" id="inputChloride"></p>
                    <p class="addFoodInfo">mg</p>
                </li>
                <li>
                    <p class="addFoodInfo">Fiber</p>
                    <p><input type="number" id="inputFiber"></p>
                    <p class="addFoodInfo">g</p>
                </li>
                <li>
                    <p class="addFoodInfo">Vitamin A</p>
                    <p><input type="number" id="inputVitaminA"></p>
                    <p class="addFoodInfo">µg</p>
                </li>
                <li>
                    <p class="addFoodInfo">Vitamin C</p>
                    <p><input type="number" id="inputVitaminC"></p>
                    <p class="addFoodInfo">mg</p>
                </li>
                <li>
                    <p class="addFoodInfo">Vitamin K</p>
                    <p><input type="number" id="inputVitaminK"></p>
                    <p class="addFoodInfo">µg</p>
                </li>
                <li>
                    <p class="addFoodInfo">Moist</p>
                    <p><input type="number" id="inputMoist"></p>
                    <p class="addFoodInfo">g</p>
                </li>
                <li>
                    <p class="addFoodInfo">Calcium</p>
                    <p><input type="number" id="inputCalcium"></p>
                    <p class="addFoodInfo">mg</p>
                </li>
                <li>
                    <p class="addFoodInfo">Phosphorus</p>
                    <p><input type="number" id="inputPhosphorus"></p>
                    <p class="addFoodInfo">mg</p>
                </li>
                <li>
                    <p class="addFoodInfo">Copper</p>
                    <p><input type="number" id="inputCopper"></p>
                    <p class="addFoodInfo">mg</p>
                </li>
                <li>
                    <p class="addFoodInfo">Selenium</p>
                    <p><input type="number" id="inputSelenium"></p>
                    <p class="addFoodInfo">µg</p>
                </li>
                <li>
                    <p class="addFoodInfo">Sodium</p>
                    <p><input type="number" id="inputSodium"></p>
                    <p class="addFoodInfo">mg</p>
                </li>
                <li>
                    <p class="addFoodInfo">Vitamin B-6</p>
                    <p><input type="number" id="inputVitaminB6"></p>
                    <p class="addFoodInfo">mg</p>
                </li>
                <li>
                    <p class="addFoodInfo">Vitamin D</p>
                    <p><input type="number" id="inputVitaminD"></p>
                    <p class="addFoodInfo">µg</p>
                </li>
                <li>
                    <p class="addFoodInfo">Starch</p>
                    <p><input type="number" id="inputStarch"></p>
                    <p class="addFoodInfo">g</p>
                </li>
                <li>
                    <p class="addFoodInfo">Caffeine</p>
                    <p><input type="number" id="inputCaffeine"></p>
                    <p class="addFoodInfo">mg</p>
                </li>
                <li>
                    <p class="addFoodInfo">Fluoride</p>
                    <p><input type="number" id="inputFluoride"></p>
                    <p class="addFoodInfo">µg</p>
                </li>
                <li>
                    <p class="addFoodInfo">Thiamin</p>
                    <p><input type="number" id="inputThiamin"></p>
                    <p class="addFoodInfo">mg</p>
                </li>
                <li>
                    <p class="addFoodInfo">Pantothenic acid</p>
                    <p><input type="number" id="inputPantothenicAcid"></p>
                    <p class="addFoodInfo">mg</p>
                </li>
                <li>
                    <p class="addFoodInfo">Fatty acids, total monounsaturated</p>
                    <p><input type="number" id="inputFattyAcidsTotalMonounsaturated"></p>
                    <p class="addFoodInfo">g</p>
                </li>
                <li>
                    <p class="addFoodInfo">Fatty acids, total polyunsaturated</p>
                    <p><input type="number" id="inputFattyAcidsTotalPolyunsaturated"></p>
                    <p class="addFoodInfo">g</p>
                </li>

            </ul>
        </div>


        <!-- Nút button Thoát khỏi thông tin giá trị thức ăn -->
        <div class="btn-food-info">
            <button id="btnAddCancel">Cancel</button>
            <button id="btnSaveFood">Save and Close</button>
        </div>
    </div>

    <script src="/js/utils.js"></script>
    <script src="/js/food.js"></script>
    <script src="/js/SignOut.js"></script>
</body>

</html>