<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
</head>

<body>
    <!-- Header sẽ được tải động từ file header.html -->
    <div id="header"></div>

    <!-- Phần Nav -->
    <nav id="navHomePage">
        <div class="header-title">
            <!-- Nút bấm mở/đóng header -->
            <button id="btnNavHomePage"><i class="fa-solid fa-bars"></i></button>
            <a href="#">
                <img src="/assets/avatar/avatar.png" alt="avatar" class="avatar">
                <span>Đoàn Mạnh Duy</span>
            </a>
        </div>
        <div class="header-title">
            <div>
                <p>Recipes</p>
                <p>Create, check and update recipes</p>
            </div>
        </div>
    </nav>

    <!--Phần nội dung homePage  -->
    <main id="mainHomePage">
        <!-- Phần Search -->
        <section class="section-search" id="section-recipes">
            <div class="section-title">
                <div>
                    <p>Recipes</p>
                    <p>Create, check, and update recipes</p>
                </div>
            </div>

            <div class="section-search-form">
                <div class="section-search-item">
                    <input type="text" placeholder="Search Food">
                </div>

                <div class="section-search-item">
                    <button>
                        <i class="fa-solid fa-arrow-up-wide-short"></i>
                    </button>
                    <input type="text" placeholder="Sort by nutrient">
                </div>

                <div class="section-search-item">
                    <select>
                        <option value="">Select Category</option>
                        <option value="vegetarian">Vegetarian</option>
                        <option value="vegan">Vegan</option>
                        <option value="low-carb">Low Carb</option>
                        <option value="high-protein">High Protein</option>
                    </select>
                </div>
            </div>
             <!-- Phần yêu thích món ăn của tôi -->
             <div class="section-MyRecipes" id="sectionMyRecipes">
                <div>
                    <p><i class="fa-solid fa-heart"></i></p>
                    <p>Favorites</p>
                    <p>0</p>
                </div>
                <button class="btnMyRecipes">
                    <i class="fa-solid fa-square-check"></i>
                    <i class="fa-solid fa-pen-to-square"></i>
                    <p>My recipes</p>
                </button>
            </div>
        </section>

        <!-- Phần content -->
        <div class="contentHomePage" id="contentHomePage">
            <!-- Thêm ở đây -->
        </div>

        <div class="btn-select-page">
            <button><i class="fa-solid fa-backward"></i> </button>
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button><i class="fa-solid fa-forward"></i></button>
        </div>
    </main>

    <script src="/js/script.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/SignOut.js"></script>
    <script src="/js/homPage.js"></script>
</body>

</html>