<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recipes detail</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/chart.css">
</head>

<body>
    <!-- Header sẽ được tải động từ file header.html -->
    <div id="header"></div>
    <!-- Phần Nav -->
    <nav id="navRecipesDetail">
        <div class="header-title">
            <!-- Nút bấm mở/đóng header -->
            <button id="btnNavRecipesDetail"><i class="fa-solid fa-bars"></i></button>
            <a href="#">
                <img src="/assets/avatar/avatar.png" alt="avatar" class="avatar">
                <span>Đoàn Mạnh Duy</span>
            </a>
        </div>
        <div class="header-title">
            <div>
                <p>Recipes</p>
                <p>Create, check and update recipes</p>
            </div>
        </div>
    </nav>
    <!-- Phần content -->
    <div id="containerRecipesDetail">
        <!-- Thêm ở đây -->
    </div>

    <script src="/js/utils.js"></script>
    <script src="/js/SignOut.js"></script>
    <script src="/js/recipes-detail.js"></script>
    <script src="/js/chart.js"></script>
</body>

</html>