<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
</head>

<body>
    <!-- Header sẽ được tải động từ file header.html -->
    <div id="header"></div>

    <!-- Phần Nav -->
    <nav id="navRecipes">
        <div class="header-title">
            <!-- Nút bấm mở/đóng header -->
            <button id="btnNavRecipes"><i class="fa-solid fa-bars"></i></button>
            <a href="#">
                <img src="/assets/avatar/avatar.png" alt="avatar" class="avatar">
                <span>Đoàn Mạnh Duy</span>
            </a>
        </div>
        <div class="header-title">
            <div>
                <p>Recipes</p>
                <p>Create, check and update recipes</p>
            </div>
        </div>
    </nav>

    <!--Phần nội dung homePage  -->
    <main id="mainRecipes">
        <!-- Phần Search -->
        <section class="section-search" id="section-recipes">
            <div class="section-title">
                <div>
                    <p>Recipes</p>
                    <p>Create, check, and update recipes</p>
                </div>
            </div>

            <div class="section-search-form">
                <div class="section-search-item">
                    <input type="text" placeholder="Search Food">
                </div>

                <div class="section-search-item">
                    <button>
                        <i class="fa-solid fa-arrow-up-wide-short"></i>
                    </button>
                    <input type="text" placeholder="Sort by nutrient">
                </div>

                <div class="section-search-item">
                    <select>
                        <option value="">Select Category</option>
                        <option value="vegetarian">Vegetarian</option>
                        <option value="vegan">Vegan</option>
                        <option value="low-carb">Low Carb</option>
                        <option value="high-protein">High Protein</option>
                    </select>
                </div>
            </div>

            <!-- Phần yêu thích món ăn của tôi -->
            <div class="section-MyRecipes">
                <div>
                    <p><i class="fa-solid fa-heart"></i></p>
                    <p>Favorites</p>
                    <p>0</p>
                </div>
                <div>
                    <a href="#"><i class="fa-solid fa-square-check"></i></a>
                    <a href="#"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="#">My recipes</a>
                </div>
            </div>
        </section>

        <!-- Phần content -->
        <div class="contentHomePage">

            <div class="container-menu">
                <div class="tag">
                    <img src="/assets/menu-food/udon-food.jpg" alt="menu-food" class="commmunity-img">
                    <p class="commmunity"><i class="fa-solid fa-people-group"></i> Community Recipes</p>
                </div>

                <div>
                    <ul class="info-menu">
                        <li>
                            <h5 style="font-size: 18px;">Turmeric Roasted Cauliflower Salad (lowfodmap)</h5>
                        </li>
                        <li>
                            <div class="title-like">
                                <p>Joana Jardim</p>
                                <button><i class="fa-solid fa-heart"></i><span>0</span></button>
                            </div>
                        </li>
                        <li> <img src="/assets/icons/describe.png">Vegetarian dishes</li>
                        <li class="nutritional-info">
                            <div class="nutritional">
                                <h5>By</h5>
                                <p>100g</p>
                            </div>
                            <div class="nutritional">
                                <h5>Energy</h5>
                                <p>87 kcal</p>
                            </div>
                            <div class="nutritional">
                                <h5>Fat</h5>
                                <p>4g</p>
                            </div>
                            <div class="nutritional">
                                <h5>Carbohydrate</h5>
                                <p>8g</p>
                            </div>
                            <div class="nutritional">
                                <h5>Protein</h5>
                                <p>5g</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="container-menu">
                <div class="tag">
                    <img src="/assets/menu-food/udon-food.jpg" alt="menu-food" class="commmunity-img">
                    <p class="commmunity"><i class="fa-solid fa-people-group"></i> Community Recipes</p>
                </div>

                <div>
                    <ul class="info-menu">
                        <li>
                            <h5 style="font-size: 18px;">Turmeric Roasted Cauliflower Salad (lowfodmap)</h5>
                        </li>
                        <li>
                            <div class="title-like">
                                <p>Joana Jardim</p>
                                <button><i class="fa-solid fa-heart"></i><span>0</span></button>
                            </div>
                        </li>
                        <li> <img src="/assets/icons/describe.png">Vegetarian dishes</li>
                        <li class="nutritional-info">
                            <div class="nutritional">
                                <h5>By</h5>
                                <p>100g</p>
                            </div>
                            <div class="nutritional">
                                <h5>Energy</h5>
                                <p>87 kcal</p>
                            </div>
                            <div class="nutritional">
                                <h5>Fat</h5>
                                <p>4g</p>
                            </div>
                            <div class="nutritional">
                                <h5>Carbohydrate</h5>
                                <p>8g</p>
                            </div>
                            <div class="nutritional">
                                <h5>Protein</h5>
                                <p>5g</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Thêm ở đây -->
        </div>

        <div></div>
        <div class="btn-select-page">
            <button><i class="fa-solid fa-backward"></i> </button>
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button><i class="fa-solid fa-forward"></i></button>
        </div>
    </main>

    <script src="/js/script.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/SignOut.js"></script>
</body>

</html>