<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
</head>

<body>
    <!-- Header sẽ được tải động từ file header.html -->
    <div id="header"></div>

    <!-- Phần Nav -->
    <nav id="navRecipes">
        <div class="header-title">
            <!-- Nút bấm mở/đóng header -->
            <button id="btnNavRecipes"><i class="fa-solid fa-bars"></i></button>
            <a href="#">
                <img src="/assets/avatar/avatar.png" alt="avatar" class="avatar">
                <span>Đoàn Mạnh Duy</span>
            </a>
        </div>
        <div class="header-title">
            <div>
                <p>Recipes</p>
                <p>Create, check and update recipes</p>
            </div>
        </div>
    </nav>

    <!--Phần Content  -->
    <main id="mainRecipes">
        <!-- Phần Search -->
        <section class="section-search" id="section-recipes">
            <div class="section-title">
                <div>
                    <p>Recipes</p>
                    <p>Create, check, and update recipes</p>
                </div>
            </div>

            <div class="section-search-form">
                <div class="section-search-item">
                    <input type="text" placeholder="Search Food" id="searchItem">
                </div>

                <div class="section-search-item">
                    <button id="btnINutrient">
                        <i class="fa-solid fa-arrow-up-wide-short" id="iSelectNutrient01"></i>
                        <i class="fa-solid fa-arrow-down-wide-short" id="iSelectNutrient02" style="display: none;"></i>
                    </button>
                    <select id="selectNutrient">
                        <option value="SortByNutrium">Sort by nutrient</option>
                        <option value="energy">Energy</option>
                        <option value="fat">Fat</option>
                        <option value="carbohydrate">Carbohydrate</option>
                        <option value="protein">Protein</option>
                    </select>
                </div>
                <div class="section-search-item">
                    <select id="selectCategory">
                        <option value="All categories">All categories</option>
                        <option value="Breakfast and snacks">Breakfast and snacks</option>
                        <option value="Appetizers and side dishes">Appetizers and side dishes</option>
                        <option value="Meat dishes">Meat dishes</option>
                        <option value="Fish dishes">Fish dishes</option>
                        <option value="Vegetarian dishes">Vegetarian dishes</option>
                    </select>
                </div>
            </div>

            <!-- Phần yêu thích món ăn của tôi -->
            <div class="section-MyRecipes">
                <div>
                    <p><i class="fa-solid fa-heart"></i></p>
                    <p>Favorites</p>
                    <p>0</p>
                </div>
                <button id="btnAddFoodList">
                    <p><i class="fa-solid fa-square-check"></i></p>
                    <p><i class="fa-solid fa-pen-to-square"></i></p>
                    <p>My recipes</p>
                </button>
            </div>
        </section>

        <!-- Phần content -->
        <div class="contentHomePage" id="contentHomePage">
            <!-- Thêm ở đây -->
        </div>

        <div class="btn-select-page">
            <button id="btnPrev"><i class="fa-solid fa-backward" id="iPrev"></i> </button>
            <div class="btnPages">
                <!-- <button>1</button>
                <button>2</button>
                <button>3</button> -->
                <!-- Thêm ở đây -->
            </div>
            <button id="btnNext"><i class="fa-solid fa-forward" id="iNext"></i></button>
        </div>
    </main>

    <script src="/js/script.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/SignOut.js"></script>
    <script src="/js/clickRegipes.js"></script>
</body>

</html>